[Resolve]
LLMNR={{ network_systemd_resolved_llmnr }}
MulticastDNS={{ network_systemd_resolved_multicast_dns }}
DNSSEC={{ network_systemd_resolved_dnssec }}
Cache={{ network_systemd_resolved_cache }}
{% if network_systemd_resolved_global_dns %}
{% if network_systemd_dns_ipv4 %}
DNS={{ network_systemd_dns_ipv4 }}
{% endif %}
{% if network_systemd_dns_ipv6 and 'ipv6' in globalvars[inventory_hostname] %}
DNS={{ network_systemd_dns_ipv6 }}
{% endif %}
Domains={{ network_systemd_domains }}
{% endif %}
{{ network_systemd_resolved_conf }}
