[Service]
ExecStart=
ExecStart=/lib/systemd/systemd-networkd-wait-online{% if network_systemd_networkd_wait_online_any %} --any{% endif %}{% for ifname in network_systemd_networkd_wait_online_interfaces %} --interface={{ ifname }}{% endfor %}
