[Unit]
Description=Teaming daemon - {{ network_team.name }}
Before=network-pre.target
ConditionPathExists={{ _network_team_config_file }}

[Service]
Type=forking
# -o: take over existing device
# -N: don't delete device if killed
ExecStart=/usr/bin/teamd -d -o -N -f {{ _network_team_config_file }}
ExecStop=/usr/bin/teamd -f {{ _network_team_config_file }} -k
Restart=always

[Install]
WantedBy=multi-user.target
